body {
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    margin: 0;
}

.container {
    width: 350px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 12px 0;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #555;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px 10px 10px 35px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    cursor: pointer;
}

button i {
    margin-right: 5px;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}